MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=book_bigdata
MYSQL_USER=root
MYSQL_PASSWORD=

WEB_DATA_MODE=mock

HDFS_NAMENODE_URL=http://localhost:9870
HDFS_USER=hdfs
HDFS_PROJECT_ROOT=/book_project
HDFS_QUALITY_REPORT=/book_project/quality/quality_report.json
HDFS_TIMEOUT_SECONDS=20

PHOENIX_JDBC_URL=jdbc:phoenix:localhost:2181
PHOENIX_JDBC_DRIVER=org.apache.phoenix.jdbc.PhoenixDriver
PHOENIX_JDBC_CLASSPATH=/home/hadoopkieu/phoenix/phoenix-client-embedded-hbase-2.6-5.3.0.jar:/home/hadoopkieu/hbase/conf:/home/hadoopkieu/hadoop/etc/hadoop
PHOENIX_BOOKS_VIEW=BOOKBIGDATA.BOOKS
PHOENIX_QUERY_MAX_ROWS=200

HBASE_TABLE=bookbigdata:books_hbase
HBASE_THRIFT_HOST=localhost
HBASE_THRIFT_PORT=9090
HBASE_THRIFT_POOL_SIZE=5
HBASE_THRIFT_TIMEOUT_MS=10000
HBASE_THRIFT_COMPAT=0.98
HBASE_THRIFT_TRANSPORT=buffered
HBASE_THRIFT_PROTOCOL=binary
HBASE_SNAPSHOT_PREFIX=books_hbase_
HBASE_SHELL_COMMAND=hbase shell -n
HBASE_COMMAND_TIMEOUT_SECONDS=120

FLASK_SECRET_KEY=change-me
FLASK_HOST=0.0.0.0
FLASK_PORT=5000
FLASK_DEBUG=1